<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Biblioteca - Livros</title>
</head>
<body>
<h3>Cadastro de Livros</h3>
<form action="/salvarLivro" method="post">
<!-- 	Código: <input type="number" name="codigo"><br/> -->
	Título: <input type="text" name="titulo"><br/>
	Autores: <input type="text" name="autores"><br/>
	Categoria: 
	<SELECT name="categoria">
		<option th:each="cat : ${lista_categ}"
		  th:value="${cat.codigo}"
		  th:text="${cat.nome}"
		>
	</SELECT>
	<button type="submit">Salvar</button>
</form>
<hr/>
<table>
	<tr>
		<th>Título</th>
		<th>Autores</th>
		<th>Categoria</th>
	</tr>
	<tr th:each="liv : ${lista_livros}">
		<td th:text="${liv.titulo}">
		<td th:text="${liv.autores}">
		<td th:text="${liv.categoria.nome}">
	</tr>
</table>
</body>
</html>